@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .card {
    background-color: #fff9eb;
    border: 2px solid #000000;
    box-sizing: border-box;
    width: 20rem;
    height: calc(100vh - 10rem);
  }
}

button {
  cursor: pointer;
}

body {
  background-color: var(--background);
  --webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button,
h1,
h2,
h3,
h4,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
input,
textarea {
  background-color: var(--backgroundInput);
}
p {
  color: var(--lightgrey);
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}
